@model Student
<h1>Batch Enrollment Form</h1>
<h2>@ViewBag.a</h2>
<h2>@ViewBag.b</h2>
<hr>


<hr />
@using(Html.BeginForm())
{
    <div>
        
        <div>
            @Html.LabelFor(d=>d.Name)
            @Html.EditorFor(d=>d.Name)
            @Html.ValidationMessageFor(d=>d.Name,"",new {@style="color:red"})
        </div>
        <div>
            @Html.LabelFor(d=>d.Email)
            @Html.EditorFor(d=>d.Email)
            @Html.ValidationMessageFor(d=>d.Email,"",new {@style="color:red"})
        </div>
        <br><br>
        <input type="submit" value="Enroll" />
    </div>
}
<br /><br />
 
<br>
<br>
<hr>
@Html.ActionLink("Back To List","AvailableBatches","Batch")