@model IEnumerable<Batch>
<h1>Available Batches</h1>
<hr/>
//startime endtime remaining
<br /><br />
<table border='1'>
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(d=>d.StartTime)</td>
            <td>@Html.DisplayNameFor(d=>d.EndTime)</td>
            <td>@Html.DisplayNameFor(d=>d.Capacity)</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in @Model)
        {
            <tr>
                <td>@data.StartTime</td>
                <td>@data.EndTime</td>
                @{
                    int x=5 - @data.Capacity;
                }
                <td>@x</td>
                 @{ 
                 if(x>=5) {
                    <p>Hello</p>
                 }                
                        <p>Good</p>
                
                 }
                 }
             
                <td></td>
                <td>
                    

                </td>
            </tr>
        }
    </tbody>
</table>